.dropdownitem {
  color: $main-color;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    align-items: center;
    background-color: $main-color;
    border-radius: 5px;
    height: 52px;
    cursor: pointer;
    h2 {
      color: white;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__message {
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f6f6f6;
    font-size: 18px;
    font-weight: 400;
  }

  img {
    position: relative;
    bottom: 3px;
  }

  @include for-tablet-only {
    color: $main-color;
    width: 100%;

    &__header {
      padding: 10px 12px 10px 10px;
      height: 30px;
      h2 {
        font-size: 13px;
      }
    }

    &__message {
      padding: 15px;

      font-size: 13px;
    }
  }
}
