.home {
  padding: 0 100px;

  &__card-container {
    margin-top: 43px;
    padding: 55px 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, auto));
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 50px;
  }

  @include for-tablet-only {
    padding: 0 20px;
    &__card-container {
      background-color: white;
      margin-top: 0;
      padding: 22px 0 27px 0;
      row-gap: 20px;
    }
  }

  @media (max-width: 1439px) {
    &__card-container {
      justify-content: center;
    }
  }

  @media (max-width: 1060px) {
    &__card-container {
      a {
        width: 100%;
      }
    }
  }
}
