.card {
  position: relative;
  p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
  }

  @include for-tablet-only {
    img {
      width: 335px;
      height: 255px;
    }
  }

  @include for-max-width($breakpoint-small-phone) {
    img {
      width: 320px;
      height: 255px;
    }
  }
}
