.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px 50px 100px;

  ul {
    display: flex;
    gap: 0 67px;
    list-style: none;
  }

  li {
    text-wrap: nowrap;
  }

  a {
    font-size: 24px;
    color: $main-color;
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
  }

  @include for-tablet-only {
    padding: 20px 20px 27px 20px;

    ul {
      gap: 0 26px;
    }

    a {
      font-size: 12px;
      text-transform: uppercase;
    }
    .logo {
      width: 145px;
      height: 47px;
    }
  }

  @include for-max-width($breakpoint-small-phone) {
    ul {
      padding: 0 5px;
    }
  }
}
